@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lobster&family=Pacifico&display=swap');
:root{
    --cor-de-fundo:rgba(58, 55, 94, 0.3);
    --roxo-claro:rgba(147, 62, 105, 1);
    --roxo-escuro:rgba(225, 44, 245, 0.5);
    --vermelho-claro:rgba(245, 103, 129, 0.5);
    --verde:rgba(125, 242, 19, 0.5);
}

body{
    background-color:var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Lobster', sans-serif;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
